$primary_font_family:'Roboto', sans-serif;
$second_font_family:'Roboto-Medium';
$thrid_font_family: 'Roboto-Regular';
$bold_font:'Roboto-Bold';
$blueColor:#0A5A9C;
$backgroundColor: #f5f8fc;
$whiteColor: #ffffff;
$boxShadowColor:#cccccc;
$grayColor:#666666;
$darkGray:#232323;
$borderColor:#e7e7e7;
$blueHover:#1da1f2 ;
$redColor:#e71d69;

// #0c71c3